@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: "Lato", sans-serif;
}

#navbar {
  width: 240px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 3px solid gray;
}

#navbar header {
  text-align: center;
}

#navbar ul {
  margin-top: -9px;
}

#navbar li {
  width: 120%;
  margin-left: -39px;
  padding: 10px;
  list-style: none;
  color: black;
  height: 40px;
  border-top: 1px solid black;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: black;
}

#main-doc {
  position: absolute;
  margin-left: 250px;
  height: 2000px;
}

@media (max-width: 650px) {
  body {
    flex-direction: column;
  }

  #navbar {
    width: 90%;
    /* height: 0%; */
    position: absolute;
    text-align: center;
    border: none;
  }

  #main-doc {
    position: relative;
    width: 100%;
    margin-left: 0;
    margin-top: 250px;
    padding: 30px;
  }
}
